127.0.0.1 localhost

# Controller node
192.168.56.100 ctrl

# Worker nodes
{% for i in range(1, worker_count | int + 1) %}
192.168.56.{{ 100 + i }} node-{{ i }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters